body[coloraccent="Lime Green"] {
    --motion-primary: hsla(92, 91%, 53%, 1); /* #00c3ff */
    --motion-tertiary: hsla(92, 80%, 43%, 1); /* #007bc7 */
    --motion-transparent: hsla(92, 92%, 53%, 0.35); /* 35% transparent version of motion-primary */
    --motion-light-transparent: hsla(92, 80%, 43%, 0.15); /* 15% transparent version of motion-primary */

    --paint-motion-primary: hsla(92, 91%, 53%, 1); /* #00c3ff */
    --paint-motion-tertiary: hsla(92, 80%, 43%, 1); /* #007bc7 */
    --paint-motion-transparent: hsla(92, 92%, 53%, 0.35); /* 35% transparent version of motion-primary */

    /* opt-in theme overrides */
    --motion-primary-dark: hsla(84, 100%, 41%, 1); /*top bar color when in dark mode*/ /*when it doesn't work. change back: hsla(92, 91%, 53%, 1)*/

    --extensions-primary: hsla(92, 91%, 53%, 1);
    --extensions-tertiary: hsla(92, 80%, 43%, 1);
    --extensions-transparent: hsla(92, 91%, 53%, 0.35); /* 35% transparent version of extensions-primary */
    --extensions-light: hsla(92, 80%, 43%, 1); /* opaque version of extensions-transparent, on white bg */

    --drop-highlight: hsla(92, 91%, 59%, 1); /* lighter than motion-primary */

    /* menu bar colors */
    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Light Blue"] {
    --motion-primary: hsla(194, 100%, 50%, 1);
    --motion-tertiary: hsla(203, 100%, 39%, 1);
    --motion-transparent: hsla(203, 100%, 39%, 0.35);
    --motion-light-transparent: hsla(203, 100%, 39%, 0.15);

    --paint-motion-primary: hsla(194, 100%, 50%, 1);
    --paint-motion-tertiary: hsla(203, 100%, 39%, 1);
    --paint-motion-transparent: hsla(203, 100%, 39%, 0.35);

    --motion-primary-dark: #009CCC;

    --extensions-primary: hsla(194, 100%, 50%, 1);
    --extensions-tertiary: hsla(203, 100%, 39%, 1);
    --extensions-transparent: hsla(194, 100%, 50%, 0.35);
    --extensions-light: hsla(203, 100%, 39%, 1);
    
    --drop-highlight: hsla(203, 100%, 39%, 1);

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Red"] {
    --motion-primary: #ff4c4c;
    --motion-tertiary: #cc3333;
    --motion-transparent: #ff4c4c57;
    --motion-light-transparent: #cc333326;

    --paint-motion-primary: #ff4c4c;
    --paint-motion-tertiary: #cc3333;
    --paint-motion-transparent: #ff4c4c57;

    --motion-primary-dark: #333333;

    --extensions-primary: hsla(10, 85%, 65%, 1);
    --extensions-tertiary: hsla(10, 85%, 40%, 1);
    --extensions-transparent: hsla(10, 85%, 65%, 0.35);
    --extensions-light: hsla(10, 57%, 85%, 1);
    
    --drop-highlight: #ff8c8c;

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Blue"] {
    --motion-primary: hsla(215, 100%, 65%, 1);
    --motion-tertiary: hsla(215, 60%, 50%, 1);
    --motion-transparent: hsla(215, 100%, 65%, 0.35);
    --motion-light-transparent: hsla(215, 60%, 50%, 0.15);

    --paint-motion-primary: hsla(215, 100%, 65%, 1);
    --paint-motion-tertiary: hsla(215, 60%, 50%, 1);
    --paint-motion-transparent: hsla(215, 100%, 65%, 0.35);

    --motion-primary-dark: #333;

    --extensions-primary: hsla(163, 85%, 40%, 1);
    --extensions-tertiary: hsla(163, 85%, 30%, 1);
    --extensions-transparent: hsla(163, 85%, 40%, 0.35);
    --extensions-light: hsla(163, 57%, 85%, 1);
    
    --drop-highlight: hsla(215, 100%, 77%, 1);

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Corrupted Blue"] {
    --motion-primary: #625e97;
    --motion-tertiary: hsla(203, 100%, 17%, 1);
    --motion-transparent: hsla(215, 100%, 11%, 0.35);
    --motion-light-transparent: hsla(203, 100%, 17%, 0.15);

    --paint-motion-primary: #625e97;
    --paint-motion-tertiary: hsla(203, 100%, 17%, 1);
    --paint-motion-transparent: hsla(215, 100%, 11%, 0.35);

    --motion-primary-dark: #2a293f;

    --extensions-primary: hsla(194, 100%, 50%, 1);
    --extensions-tertiary: hsla(203, 100%, 39%, 1);
    --extensions-transparent: hsla(194, 100%, 50%, 0.35);
    --extensions-light: hsla(203, 100%, 39%, 1);
    
    --drop-highlight: hsla(240, 100%, 77%, 1);

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Scratch"] {
    --motion-primary: hsla(260, 60%, 60%, 1);
    --motion-tertiary: hsla(260, 42%, 51%, 1);
    --motion-transparent: hsla(260, 60%, 60%, 0.35);
    --motion-light-transparent: hsla(260, 42%, 51%, 0.15);

    --paint-motion-primary: hsla(260, 60%, 60%, 1);
    --paint-motion-tertiary: hsla(260, 42%, 51%, 1);
    --paint-motion-transparent: hsla(260, 60%, 60%, 0.35);

    --motion-primary-dark: #333333;

    --extensions-primary: hsla(163, 85%, 40%, 1);
    --extensions-tertiary: hsla(163, 85%, 30%, 1);
    --extensions-transparent: hsla(163, 85%, 40%, 0.35);
    --extensions-light: hsla(163, 57%, 85%, 1);
    
    --drop-highlight: hsla(215, 100%, 77%, 1);

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Magenta"] {
    --motion-primary: hsla(289, 100%, 54%, 1);
    --motion-tertiary: hsla(289, 100%, 39%, 1);
    --motion-transparent: hsla(289, 100%, 54%, 0.35);
    --motion-light-transparent: hsla(289, 100%, 39%, 0.15);

    --paint-motion-primary: hsla(289, 100%, 54%, 1);
    --paint-motion-tertiary: hsla(289, 100%, 39%, 1);
    --paint-motion-transparent: hsla(289, 100%, 54%, 0.35);

    --motion-primary-dark: #57039c;

    --extensions-primary: hsla(289, 100%, 50%, 1);
    --extensions-tertiary: hsla(203, 100%, 39%, 1);
    --extensions-transparent: hsla(194, 100%, 50%, 0.35);
    --extensions-light: hsla(203, 100%, 39%, 1);
    
    --drop-highlight: hsla(289, 100%, 64%, 1);

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="Rainbow"] {
    --motion-primary: #ff4c4c;
    --motion-tertiary: #cc3333;
    --motion-transparent: #ff4c4c57;
    --motion-light-transparent: #cc333326;

    --paint-motion-primary: #ff4c4c;
    --paint-motion-tertiary: #cc3333;
    --paint-motion-transparent: #ff4c4c57;

    --motion-primary-dark: #333333;

    --extensions-primary: hsla(10, 85%, 65%, 1);
    --extensions-tertiary: hsla(10, 85%, 40%, 1);
    --extensions-transparent: hsla(10, 85%, 65%, 0.35);
    --extensions-light: hsla(10, 57%, 85%, 1);
    
    --drop-highlight: #ff8c8c;

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.75) 0%, rgba(255, 154, 0, 0.75) 10%, rgba(208, 222, 33, 0.75) 20%, rgba(79, 220, 74, 0.75) 30%, rgba(63, 218, 216, 0.75) 40%, rgba(47, 201, 226, 0.75) 50%, rgba(28, 127, 238, 0.75) 60%, rgba(95, 21, 242, 0.75) 70%, rgba(186, 12, 248, 0.75) 80%, rgba(251, 7, 217, 0.75) 90%, rgba(255, 0, 0, 0.75) 100%);
}
body[coloraccent="OOHVERYSCARY"] {
    --motion-primary: #ff0000;
    --motion-tertiary: #d60000;
    --motion-transparent: #ff000057;
    --motion-light-transparent: #d6000026;

    --paint-motion-primary: #ff0000;
    --paint-motion-tertiary: #d60000;
    --paint-motion-transparent: #ff000057;

    --motion-primary-dark: #ff0000;

    --extensions-primary: rgb(0, 0, 0);
    --extensions-tertiary: rgb(47, 8, 0);
    --extensions-transparent: hsla(0, 0%, 0%, 0.35);
    --extensions-light: rgb(255, 141, 119);
    
    --drop-highlight: #000000;

    --menu-bar-background: var(--motion-primary);
    --menu-bar-background-dark: var(--motion-primary-dark);

    --menu-bar-background-image: none;
}
body[coloraccent="custom"] {
    
}

$ui-primary: var(--ui-primary, hsla(215, 100%, 95%, 1)); /* #E5F0FF */
$ui-secondary: var(--ui-secondary, hsla(215, 75%, 95%, 1)); /* #E9F1FC */
$ui-tertiary: var(--ui-tertiary, hsla(215, 50%, 90%, 1)); /* #D9E3F2 */

$ui-modal-overlay: var(--ui-modal-overlay, hsla(92, 91%, 53%, 0.9)); /* 90% transparent version of motion-primary */

$ui-white: hsla(0, 100%, 100%, 1); /* #FFFFFF */
$ui-white-dim: hsla(0, 100%, 100%, 0.75); /* 25% transparent version of ui-white */
$ui-white-transparent: hsla(0, 100%, 100%, 0.25); /* 25% transparent version of ui-white */
$ui-transparent: hsla(0, 100%, 100%, 0); /* 25% transparent version of ui-white */

$ui-black-transparent-default: hsla(0, 0%, 0%, 0.15); /* 15% transparent version of black */
$ui-black-transparent: var(--ui-black-transparent, $ui-black-transparent-default);

$text-primary: var(--text-primary, hsla(92, 18%, 42%, 1)); /* #575E75 */
$text-primary-transparent: hsla(225, 15%, 40%, 0.75);

$motion-primary: var(--motion-primary, hsla(92, 91%, 53%, 1)); /* #00c3ff */
$motion-tertiary: var(--motion-tertiary, hsla(92, 80%, 43%, 1)); /* #007bc7 */
$motion-transparent: var(--motion-transparent, hsla(92, 92%, 53%, 0.35)); /* 35% transparent version of motion-primary */
$motion-light-transparent: var(--motion-light-transparent, hsla(92, 80%, 43%, 0.15)); /* 15% transparent version of motion-primary */

/* opt-in theme overrides */
$motion-primary-dark: var(--motion-primary-dark, hsla(84, 100%, 41%, 1)); /*top bar color when in dark mode*/ /*when it doesn't work. change back: hsla(92, 91%, 53%, 1)*/
$ui-primary-light: hsla(215, 100%, 95%, 1);
$ui-secondary-light: hsla(215, 75%, 95%, 1);
$ui-tertiary-light: hsla(215, 50%, 90%, 1);
$text-primary-light: hsla(225, 15%, 40%, 1);

$menu-bar-background: var(--menu-bar-background, $motion-primary);
$menu-bar-background-dark: var(--menu-bar-background-dark, $motion-primary-dark);

$menu-bar-background-image: var(--menu-bar-background-image, none);

$red-primary: hsla(92, 91%, 53%, 1); /* #00c3ff */
$red-tertiary: hsla(92, 80%, 43%, 1); /* #007bc7 */

$sound-primary: hsla(300, 53%, 60%, 1); /* #CF63CF */
$sound-tertiary: hsla(300, 48%, 50%, 1); /* #BD42BD */

$control-primary: hsla(38, 100%, 55%, 1); /* #FFAB19 */

$data-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */

$pen-primary: hsla(163, 85%, 40%, 1); /* #0FBD8C */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* #0FBD8C */

$error-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */
$error-light: hsla(30, 100%, 70%, 1); /* #FFB366 */
$error-transparent: hsla(30, 100%, 55%, 0.25); /* #FF8C1A */

$extensions-primary: var(--extensions-primary, hsla(92, 91%, 53%, 1));
$extensions-tertiary: var(--extensions-tertiary, hsla(92, 80%, 43%, 1));
$extensions-transparent: var(--extensions-transparent, hsla(92, 91%, 53%, 0.35)); /* 35% transparent version of extensions-primary */
$extensions-light: var(--extensions-light, hsla(92, 80%, 43%, 1)); /* opaque version of extensions-transparent, on white bg */

$drop-highlight: var(--drop-highlight, hsla(92, 91%, 59%, 1)); /* lighter than motion-primary */
