/*@import "../../css/colors.css";*/

.stop-all {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;
}

.stop-all:hover {
    background-color: hsla(7, 82%, 58%, 0.15);
}

.stop-all {
    opacity: 0.5;
}

.stop-all.is-active {
    opacity: 1;
}
