@import "../../css/colors.css";

.modal-content {
    max-width: 750px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
    min-height: 150px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
[theme="dark"] .body {
    color: $text-primary;
    background: $ui-primary;
}

.buttons-background {
    background: $ui-white;
}
[theme="dark"] .buttons-background {
    color: $text-primary;
    background: $ui-primary;
}

/* For small screens, such as in the embed */
@media (max-height: 600px) {
    .modal-content {
        margin: 50px auto;
    }
    .body {
        max-height: calc(100vh - 150px);
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}
.divider {
    flex-grow: 1;
    margin-left: 1rem;
    border-top: 1px dashed $ui-tertiary;
}

.button {
    font-family: inherit;
    font-size: 14px;
    background-color: $motion-primary;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}
.button:active, .button:focus-within {
    box-shadow: 0 0 0 3px $motion-transparent;
}

.label {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label-unset-height {
    height: initial;
}

.button-stretchy {
    font-family: inherit;
    font-size: 18px;
    background-color: $motion-primary;
    color: white;
    border: none;
    padding: 1rem 1rem;
    margin: 0.5rem 0 0 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}
.button-stretchy:active, .button-stretchy:focus-within {
    box-shadow: 0 0 0 3px $motion-transparent;
}

.accent-icon-outer {
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    transform-origin: center;
    transform: scale(90%);
}

.div-stretchy {
    font-family: inherit;
    font-size: 18px;
    background-color: $ui-white;
    color: $text-primary;
    border: 4px solid;
    border-color: $ui-tertiary;
    padding: 1rem 1rem;
    margin: 0.5rem 0 0 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
}

.change-on-hover {
    border-color: $ui-tertiary;
}

.change-on-hover:hover {
    border-color: $motion-tertiary;
}

.enabled-accent {
    border-color: $motion-primary;
}

[theme="dark"] .div-stretchy {
    background-color: black;
    color: white;
}

.input-stretchy {
    font-family: inherit;
    font-size: 18px;
    padding: 1rem 1rem;
    margin: 0.5rem 0 0 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
}

.icon-button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    transform-origin: center;
    transform: scale(90%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    flex-shrink: 0;
}

.icon-button[type="edit"] {
    background-color: rgb(0, 220, 255);
}

.icon-button[type="edit"]:active, .icon-button[type="edit"]:focus-within {
    box-shadow: 0 0 0 3px rgb(0, 220, 255, 0.35);
}

.icon-button[type="delete"] {
    background-color: red;
}

.icon-button[type="delete"]:active, .icon-button[type="delete"]:focus-within {
    box-shadow: 0 0 0 3px rgb(255, 0, 0, 0.35);
}

.nothing-text {
    width: 100%;
    background-color: transparent;
    color: hsla(0, 0%, 0%, 0.5);
    font-style: italic;
    text-align: center;
}

[theme="dark"] .nothing-text {
    color: hsla(0, 0%, 100%, 0.5);
}

.gap {
    width: 100%;
    background-color: transparent;
}

/* Confirmation buttons at the bottom of the modal */
.button-row {
    margin-top: 1rem;
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    background: white;
    font-weight: bold;
    font-size: 0.85rem;
}

.button-row button.ok-button {
    background: $motion-primary;
    border: $motion-primary;
    color: white;
}

[dir="ltr"] .button-row button + button {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}

.cancel-button {
    color: black;
}